
.table-img{
    width: 70px;
    height: auto;
}
.align-center{
    text-align: center;
}
.change-quantity{
    cursor: pointer;
    padding: 3px 6px;
    border: solid 1px;
    border-radius: 5px;
    margin: 3px;
    font-weight: bold;


}